<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CommunityToolkit-Labs" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-Labs/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- CommunityToolkit MVVM comes from the Labs feed -->
    <packageSource key="CommunityToolkit-Labs">
      <package pattern="*" />
    </packageSource>
    <!-- Everything else comes from nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
